/* Ticker.module.css */

.wrapper {
    width: 100%;
    position: relative;
    padding: 0;
    margin-top: 15px;
    z-index: 5;
    height: 46px !important;
    /* Force height */
    min-height: 46px;
    overflow: hidden;
}

.widgetSection {
    background: transparent;
    padding: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    width: 100%;
    height: 100%;
}

.widgetContainer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}